{{#each order}}
    <tr>
        <td class="leftdiz">{{productID.prodName}}</td>
        <td class="text-right" style="padding-right: 32px;">{{orderQuantity}}</td>
        <td class="text-right" style="padding-right: 35px;">₱{{productID.prodPrice}}</td>
        <td class="text-right pr-2">₱{{subTotal}}</td>
    </tr>
{{/each}}