{{#if error_msg}}
  <h6 class="red-text text-darken-2"><strong>{{error_msg}}</strong></h6>
{{/if}}

{{#if success_msg}}
  <h6 class="green-text text-darken-2"><strong>{{success_msg}}</strong></h6>
{{/if}}