{{#each product}}
    <tr style="font-size: 13px;">
        <td class="text-left" style="padding-left: 40px;">{{prodName}}</td>
        <td>{{category}}</td>
        <td class="text-right" style="padding-right: 60px;">₱{{prodPrice}}</td>
    </tr>
{{/each}}