<title>Add Ingredient</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/addIngredient#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Point of Sale</a></li>
                    {{#if isAdmin}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="/supplies">Supplies</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important; padding-left: 16px !important; height: 36px !important;" href="/ingredients">Ingredients</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement">Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/accounting">Accounting</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/reports">Reports</a></li>
                    {{else}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="/supplies">Supplies</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important; padding-left: 16px !important; height: 36px !important;" href="/ingredients">Ingredients</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Add Ingredient</span></div>
                    <form action="/ingredients/add" method="POST">
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-sm add-btn">Save</button>
                            <a href="/ingredients"><button type="button" class="btn btn-primary btn-sm can-btn">Cancel</button></a>
                        </div>            
                </nav>    
            <div class="container-fluid">
                <div class="card shadow mb-3">  
                    <div class="form-container" style="padding: 20px;">
                        <div class="col-4">
                            <div class="messages2">{{> messages}}</div>
                            <label for="ingredientName" style="font-weight: bold;">Ingredient</label>
                            <input type="text" class="form-control" placeholder="Enter ingredient name..." maxlength="45" name="ingredientName">
                            <p id="ingredientNameError" class="error"></p>
                        </div>
                        <div class="col-2">
                            <label for="unit" style="font-weight: bold;">Unit</label>
                            <select class="form-control" name="unit">
                                <option id="unit">Select unit...</option>
                                {{>units}}
                            </select>
                        </div>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>