<title>Add Product</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/addProduct#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Point of Sale</a></li>
                    {{#if isAdmin}}
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important;" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement">Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expenseDetails">Accounting</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history">Reports</a></li>
                    {{else}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Add Product</span></div>
                    <form action="/products/add" method="POST">
                    <div class="buttons">
                        <button type="submit" class="btn btn-primary btn-sm save-btn">Save</button>
                        <a href="/products"><button type="button" class="btn btn-primary btn-sm can-btn">Cancel</button></a>
                    </div>            
                </nav>
            <div class="container-fluid">
                {{>messages}}
                <div class="card shadow mb-3">  
                    <div class="form-container" style="padding: 20px;">
                        <div class="col-5">
                            <label for="prodName" style="font-weight: bold;">Name</label>
                            <input type="text" class="form-control" placeholder="Enter product name..." name="prodName" maxlength="35">
                            <p id="prodNameError" class="error"></p>
                        </div>
                        <div class="col-4">
                            <label for="category" style="font-weight: bold;">Category</label>
                            <select class="form-control" name="category">
                               <option value="Ala Carte">Ala Carte</option>
                                <option value="Beef Rice Meal">Beef Rice Meals</option>
                                <option value="Pork Rice Meals">Pork Rice Meals</option>
                                <option value="Chicken Rice Meals">Chicken Rice Meals</option>
                                <option value="All Day Breakfast">All Day Breakfast</option>
                                <option value="Group Set Meals">Group Set Meals</option>
                                <option value="Party Set Meals">Party Set Meals</option>
                                <option value="Others">Others</option>
                            </select>
                            <p id="categoryError" class="error"></p>
                        </div>
                        </form>
                        <div class="col-3">
                            <label for="prodPrice" style="font-weight: bold;">Price</label>
                            <input type="number" class="form-control" placeholder="Enter product price..." name="prodPrice">
                            <p id="prodPriceError" class="error"></p>
                        </div>
                        <div class="col-12">
                            <p style="font-weight: bold;">Ingredients</p>
                            <form class="form-inline" id="ingList">
                                <div class="form-group mb-2">
                                    <select class="form-control">
                                        <option id="name">Ingredient</option>
                                        {{{ingredientName}}}
                                    </select>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="quantity" class="sr-only">Quantity</label>
                                    <input type="number" class="form-control" id="quantity" placeholder="Quantity">
                                </div>
                                <div class="form-group mb-2">
                                    <select class="form-control">
                                        <option id="unit">Unit</option>
                                        {{>units}}
                                    </select>
                                </div>
                                <button style="margin-left: 25px;" type="button" id="addIngredient" class="btn btn-primary mb-2 add-btn">+ Add</button>
                            </form>
                        </div>                               
                    </div>
                </div>
            </div>
    </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/addProduct#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>