<title>Category</title>
<body>

    <div class="content">
        <div class="flex-container">
            <a href="default.asp">SALES</a>
            <a href="/ingredients">INGREDIENTS</a>
            <a href="/supplies">SUPPLIES</a>
        </div>
            
        <div class="flex-container">
            <a href="/procurement">PROCURMENTS</a>
            <a href="/accounting">ACCOUNTING</a>
            <a href="default.as">REPORTS</a>
        </div>
            
        <div class="flex-container">
            <a href="default.asp">SETTINGS</a>
            <a href="default.asp">DATABASE</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
</body>