<title>Category</title>
<body>

    <div class="content">
        <div class="flex-container">
            <a href="default.asp">SALES</a>
            <a href="default.asp">INGREDIENTS</a>
            <a href="default.asp">SUPPLIES</a>
        </div>
            
        <div class="flex-container">
            <a href="default.asp">PROCURMENTS</a>
            <a href="default.asp">ACCOUNTING</a>
            <a href="default.asp">REPORTS</a>
        </div>
            
        <div class="flex-container">
            <a href="default.asp">SETTINGS</a>
            <a href="default.asp">DATABASE</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
</body>