<title>Procurement</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/procurement#page-top">
                    <div class="sidebar-brand-icon"><img src="../public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS">Point of Sale</a></li>
                    {{#if isAdmin}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"
                        style="background-color: #c64327 !important; color: #ffffff !important;" href="/procurement">Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expenseDetails">Accounting</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history">Reports</a></li>
                    {{else}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Purchases</span></div>
                    <div class="buttons">
                        <a href="/purchase/add"><button type="button" class="btn btn-primary btn-sm add-btn">+ Add</button></a>
                        <a href="/purchase/order"><button type="button" class="btn btn-primary btn-sm ord-btn">Order</button></a>
                    </div>
            </nav>
            <div class="container-fluid">
                <div class="col-12">
                    {{>messages}}
                    <div class="card shadow mb-3">
                        <table class="table table-hover text-center">
                            <thead style="font-size: 13px;">
                              <tr>
                                <th scope="col">Supply Name</th>
                                <th scope="col">Purchase Date</th>
                                <th scope="col">Expiry Date</th>
                                <th scope="col">No. of Items</th>
                                <th scope="col" style="width: 130px;">Purchase Price</th>
                                <th scope="col" style="width: 140px;">Total Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{>purchase}}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/procurement#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>