<title>Purchase Order</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/addProduct#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS">Point of Sale</a></li>
                    {{#if isAdmin}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important;" href="/procurement">Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expenseDetails">Accounting</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history">Reports</a></li>
                    {{else}}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title" style="width: 78%;"><span class="text-primary m-0 font-weight-bold">Purchase Order</span></div>
                    <form action="/purchase/order" method="POST">
                    <div class="buttons">
                        <button type="submit" class="btn btn-primary btn-sm save-btn" style="height: 34px; width: 100px">Send Order</button>
                        <a href="/procurement"><button type="button" class="btn btn-primary btn-sm can-btn">Cancel</button></a>
                    </div>            
                </nav>
            <div class="container-fluid">
                {{>messages}}
                <div class="card shadow mb-3">  
                    <div class="form-container" style="padding: 20px;">
                        <div class="col-4">
                            <label for="supplierName" style="font-weight: bold;">Supplier Name</label>
                            <input type="text" class="form-control" placeholder="Enter supplier name..." name="supplierName" maxlength="80">
                            <p id="supplierNameError" class="error"></p>
                        </div>
                        <div class="col-4">
                            <label for="supplierEmail" style="font-weight: bold;">Supplier Email</label>
                            <input type="text" class="form-control" placeholder="Enter supplier email..." name="supplierEmail" maxlength="80">
                            <p id="supplierEmailError" class="error"></p>
                        </div>
                        <div class="col-12">
                            <p style="font-weight: bold;">Items</p>
                            <div class="row">
                            <form class="form-inline" id="itemList">
                                <div class="form-group">
                                    <select id="selectItem" name="itemName" style="width:215px;">
                                        <option selected="true" disabled="disabled">Select item</option>
                                        {{>ingredientName}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="numItems" class="sr-only">No. of Items</label>
                                    <input type="number" class="form-control" style="width:130px; margin-right: 20px; margin-left: 20px; height: 40px;" placeholder="No. of Items" id="quantity" name="numItems" min="1">
                                </div>
                                <div class="form-group">
                                    <label for="quantity" class="sr-only">Quantity</label>
                                    <input type="number" class="form-control" style="width:120px; margin-right: 20px; height: 40px;" id="quantity" placeholder="Quantity" name="quantity" min="1">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" style="width:100px; height: 40px;">
                                        <option id="unit">Unit</option>
                                        {{>units}}
                                    </select>
                                </div>
                                <button style="margin-left: 25px; height: 40px;" type="button" id="addItem" class="btn btn-primary add-btn">+ Add</button>
                            </form>
                            </div>
                        </div>                               
                    </div>
                </div>
            </div>
    </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/purchaseOrder#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>