/* CSS for categories */
a:link, a:visited {
  background-color: #F47639;
  color: white;
  margin: 15px;
  padding: 10px;
  width: 250px;
  height:150px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  font-weight: bold;
  top: 45%;
  line-height:130px;
}
    
.flex-container {
  display: flex;
}
            
body{
  padding-top: 65px;
}
    
a:hover {
  color: white;
  background-color: #C64327;
}
    
.content {
  max-width: 850px;
  margin: auto;
  background: white;
  border: solid;
  border-color: #C64327;
  border-width: 5px;
}