/* CSS for ingredients */
.searchcontainer {
  padding-top: 15px;
  padding-left: 350px;
}
    
.searchcontainer input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #F47639;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/search.png');
  background-size: 25px 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-color: #F47639;
  padding: 12px 20px 12px 45px;
  color: white;
}
    
.searchcontainer button {
  background-color: #F47639;
  border: 1px solid #F47639;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  height: 50px;
  width: 85px;
}

.searchcontainer button:hover {
  background-color: #C64327;
  border: 1px solid #C64327;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  height: 50px;
  width: 85px;
}

#ingTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border: 2px solid #F47639;
  color: #F47639;
  width: 200px;
  text-align: center;
}
    
/* Tab */
.tab {
  overflow: hidden;
  background-color: white;
  padding-top: 35px;
  padding-left: 85px;
}
    
div[class*="tabcontent"]:first-of-type {
  display: block;
}
  
/* Buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #C64327;
  border-radius: 0;
  width: 175px;
  height: 45px;
  padding-top: 3px;
}
    
.tab button:hover {
  background-color: #F47639;
  color: white;
}
    
/* Active/current tablink */
.tab button.active {
  background-color: #F47639;
  color: white;
}
    
/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

#addIng {
  text-align: center;
}

#addCat {
  text-align: center;
}

#others {
  text-align: center;
}
    
.flex-container {
  display: flex;
}
            
.category {
  padding-left: 50px;
  padding-top: 35px;
  left:0;
}
    
select {
  width: 283px;
  padding-left: 16px;
  padding-top: 1px;
  cursor: pointer;
  background-color: #F47639;
  color: white;
  border: none;
  height: 45px;
}
    
.category p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #F47639;
}
    
.card-flex {
  padding-left: 85px;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
    
.card {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-color: #C64327;
  height: 100px;
  width: 250px;
  display: inline-block;
  border-radius: 0;
  padding-top: 15px;
  margin-top: 7px;
  margin-right: 7px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
    
div div h2 {
  font-weight: bold;
  padding-top: px;
  padding-left: 15px;
  margin-bottom:  0px;
}
    
#quantity p{
  font-weight: lighter;
  padding-left: 15px;
  margin-top: 7px;
}